
# Application
NODE_ENV=development
SERVER_PORT=3000

# PostgreSQL
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

# Password pepper
PEPPER=pepper

JWT_PRIVATE_KEY_BASE64=base64
JWT_PUBLIC_KEY_BASE64=base64